.DS_Store
/confidential/*.mp4
/confidential/cut_videos/*.mp4
/confidential/cut_videos/images
/confidential/cut_videos/crop
/confidential/cut_videos/feature_video
/confidential/cut_videos/landmark_video
